<div class="container-fluid col-md-12 text-center" >
<h3> Members Search </h3>
<%= form_tag("/search/", method: "get") do %>
  <%= label_tag(:name, "Name:") %>
  <%= text_field_tag(:name) %>
	<%= label_tag(:type, "Account search") %>
	<%= select_tag(:type, options_for_select(["Recruiter","Student"],"Student"), :class=> "dropdown") %>	

  
  <%= submit_tag("Search", :class => "btn btn-primary") %>
<% end %>
  <%= link_to("Advanced Student Search", "/search/students" ) %> /
  <%= link_to("Advanced Recruiter Search", "/search/recruiters" ) %>

</div>

<div class="row container-fluid" >
  <% if @search_type == "Student"  %>
    <% @users.each do |i| %>
      <%= render partial: "stud_profile", locals: {student: i.meta} %>
    <% end %>

  <% else %>
    
    <% @users.each do |i| %>
      <%= render partial: "rec_profile", locals: {recruiter: i.meta} %>
    <% end %>
  
  <% end %>
</div>

