<nav class="navbar sticky-top navbar-toggleable-md " style="background-color: #1D2731">
	
	<%= link_to("Global Brain Exchange", root_url , :class =>"navbar-brand col-md-2") %> 
	








	<div class="navbar-nav ml-auto hidden-md-down">
		<%= link_to("Search", search_index_url  , :class => "nav-item nav-link") %>
		<% if user_signed_in? %>
		<%= link_to "Profile",  current_user.meta, :class => "nav-item nav-link" %>
		<%= link_to "logout", destroy_user_session_path, :method => :delete, :class => "nav-link nav-item" %>
		<% else %>
		<%= link_to "Signup", new_user_registration_path, :class => "nav-link nav-item" %>
		<%= link_to "Sign in", new_user_session_path, :class => "nav-link nav-item" %>
		<% end %>
	</div>
	
	<div  class="navbar-nav ml-auto hidden-md-up">
		<div class="dropdown show">
  			<a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Resources</a>

			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<%= link_to("Search", search_index_url  , :class => "dropdown-item") %>
				<% if user_signed_in? %>
				<%= link_to "Profile",  current_user.meta, :class => "dropdown-item" %>
				<%= link_to "logout", destroy_user_session_path, :method => :delete, :class => "dropdown-item" %>
				<% else %>
				<%= link_to "Signup", new_user_registration_path, :class => "dropdown-item" %>
				<%= link_to "Sign in", new_user_session_path, :class => "dropdown-item" %>
				<% end %>
			</div>
  		</div>
	</div>


	</nav>


 