<nav class="navbar sticky-top navbar-toggleable-md " style="background-color: #1D2731">
	<%= link_to("Global Brain Exchange", root_url , :class =>"navbar-brand") %> 
	








	<div class="navbar-nav ml-auto hidden-sm-down">
		<%= link_to("Connection Search", search_index_url  , :class => "nav-item nav-link") %>
		<% if user_signed_in? %>
		<%= link_to "My Profile",  current_user.meta, :class => "nav-item nav-link" %>
		<%= link_to "logout", destroy_user_session_path, :method => :delete, :class => "nav-link nav-item" %>
		<% else %>
		<%= link_to "signup", new_user_registration_path, :class => "nav-link nav-item" %>
		<%= link_to "sign in", new_user_session_path, :class => "nav-link nav-item" %>
		<% end %>
	</div>
			
			
	</nav>


 