
<div class="container-fluid col-md-8 ">
	<div class="form-group">
    <%= form_for(@recruiter) do |f| %>
    <%= f.label :propic %>
    <div class="col-md-3">  
      <%= f.file_field :propic, :class =>"form-control"%>
    </div>
		<%= f.label :name %>
		<div class="col-md-3">
			<%= f.text_field :name, :class =>"form-control" %>
		</div>
		<%= f.label :bio %>
		<div class="col-md-8">
			<%= f.text_area :bio, :class =>"form-control" %>
		</div>
		
	</div>
		<%= f.submit "Submit", :class =>"btn btn-primary" %>
	<% end %>
</div>
