
<div class="row no-gutters" style="margin-top: 20px;">
	<div class="container-fluid col-md-2 offset-md-2">
			<%= image_tag(@profile.propic.url , :class => "img-fluid rounded-circle" ,:size =>"350x350")  %> 
		<div class="text-center">
			<h2 ><%=  @profile.name %></h2>
			
			<% if @owner %>
			
				<%= link_to "edit", edit_recruiter_path(@profile) %>
				<%= link_to "logout", destroy_user_session_path, :method => :delete %>
			
			<% end %>
		
		</div>
	
	</div>	
		<div class="container-fluid col-md-4 info ">

			<h4><i> Recruiter </i></h4>

				<p class="xl"> 
					<i class="fa fa-graduation-cap" aria-hidden="true"></i>
					<%= @profile.school %> 
				</p>
				<p class="xl">
					<i class="fa fa-globe" aria-hidden="true"></i>
					<%= @profile.country %>
				</p>
				<div class="bg-light-gray">
				<p class="xl"> About <%= @profile.name %>:</p>
				<p class="large"><%= @profile.bio %> </p> 
				</div>
		</div>	
		<div class="col-md-3"></div>
	
</div>